.container{
    display: flex;
    flex-direction: column;
    width: 100%;   
    margin: 30px 0px;
}

.who{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px;
}

.banner{
    padding: 15px 30px;
    background-color:#FFC815 ;
    font-weight: 700;
    font-size: 25px;
}

.backabout{
    position:absolute;
    font-size: 80px;
    margin-left: 200px;
    font-weight: 700;
    color:#F5F5F5 ;
}

.aboutfont{
    font-size: 60px;
    color: #000;
    font-weight: 700;
}

.underline{
    width: 300px;
    height: 2px;
    background-color: #FFC815;
}

.main{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.pic{
    width: 38%;
    margin-top: 60px;
}

.textcontainer{
    width: 62%;
    margin-top: 40px;
    margin-left: 20px;
}

.firsttext{
    font-size: 15px;
    color: #929292;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secondtext{
    font-size: 22px;
    font-weight: 350;
    letter-spacing: 3px;
    margin-top: 10px;
}

.thirdtext{
    font-size: 15px;
    margin-right: 30px;
    margin-top: 10px;
    line-height: 30px;
}

.follow{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.textfollow{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.insta{
    margin: auto;
}

@media only screen and (max-width : 600px) {
    .backabout{
        display: none;
    }

    .main{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    .pic{
        width: 100%;
        margin-top: 30px;
    }

    .textcontainer{
        width: 92%;
        margin-top: 30px;
        margin-left: 0px;
    }
}