.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;   
    margin-right: 0px;
}

.underline{
    width: 95%;
    margin: auto;
    height: 1.1px;
    background-color: #A1A1A1;
}

.banner{
    margin-top: 80px;
    width: 30%;
    padding: 20px 0px;
    background-color: #FFC815;
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.backcontact{
    position:absolute;
    font-size: 80px;
    margin: 100px 400px;
    font-weight: 700;
    color:#F5F5F5 ;
}

.contacttext{
    margin-top: 20px;
    font-size: 60px;
    color: #000;
    font-weight: 700;
}

.underlineC{
    width: 300px;
    margin-top: 10px;
    height: 2px;
    background-color: #FFC815;
}

.intouch{
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.lastcontainer{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
    font-size: 18px;
    letter-spacing: 1px;
    align-items: center;
}

.underlinel{
    width: 95%;
    margin: auto;
    height: 1.1px;
    background-color: #A1A1A1;
    margin-top: 100px;
}

.end{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #F5F5F5;
    font-size: 15px;
    color: #FFC815;
    position: relative;
}

.end p{
    margin-left: 100px;
}

@media only screen and (max-width : 600px) {
    .banner{
        margin-top: 40px;
    }

    .lastcontainer{
        display: flex;
        flex-direction: column;
        margin-top: 50px;;
        letter-spacing: 1px;
        align-items: center;
    }
    .number{
        margin-bottom: 20px;
    }
    .email{
        margin-top: 20px;
    }

    .underlinel{
        margin-top: 50px;
    }
    .end{
       margin-left: 0;
    }

    .backcontact{
        display: none;
    }
}