.container{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 80px;
}

.banner{
    padding: 0px 70px;
    background-color: #FFC815;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight:600;
    text-align: center;
}

.projects{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 33%;
}

.hprojects{
    color: black;
    font-size: 80px;
    font-weight: 800;
}

@media only screen and (max-width : 600px) {
    .container{
        display: flex;
        margin-right: 0;
        flex-direction: column;
        margin-top: 50px;
}
    .banner{
        width: 60%;
        height: 100px;
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    
    .hprojects{
        color: black;
        font-size: 80px;
        font-weight: 800;
    }
    
}