.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.pics{
    width: 40%;
}

.main{
    width: 60%;
    margin-top: 80px;
    margin-left: 50px;
}

@media only screen and (max-width : 600px) {
    .pics{
        display: none;
    }

    .main{
        width: 100%;
        margin-top: 50px;
        margin-left: 10px;
    }
}