.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: #191919;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.text{
    font-size: 30px;
    color:#060606 ;
    background-color: #FFC815;
    height: 100%;
    padding: 10px;
    font-weight: 500;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 500px;
    flex-direction: row;
    background-color: #292929;
    color: white;
    margin: auto;
    height: 65%;
    font-size: 13px;
}

.fitem{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFC815;
    color: #060606;
    width: 80%;
}

.fitem:hover{
    color: white;
}

.items{
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.items:hover{
    color: #FFC815;
}
