.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 100px;
}

.underline{
    width: 95%;
    margin: auto;
    height: 1.1px;
    background-color: #A1A1A1;
}

.banner{
    margin-top: 80px;
    width: 30%;
    padding: 20px 0px;
    background-color: #FFC815;
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.backskill{
    position:absolute;
    font-size: 80px;
    margin: 100px 400px;
    font-weight: 700;
    color:#F5F5F5 ;
}

.skillsfont{
    margin-top: 20px;
    font-size: 60px;
    color: #000;
    font-weight: 700;
}

.underlineS{
    width: 300px;
    margin-top: 10px;
    height: 2px;
    background-color: #FFC815;
}

.lastcontainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.frontend{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFCA1B;
    width: 25%;
}

.main{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-family:cursive;
    width: 75%;
    margin-left: 30px;
}

.showskills{
    display: flex;
    flex-direction: row;
    color: #3F3F3F;
    margin-bottom: 0px;
}

.nameskills{
    width: 50%;
}

.percent{
    margin-left: auto;
    width: 50%;
    text-align: right;
}

.bgbar{
    width: 100%;
    background-color: #EEEEEE;
    height: 10px;
}

.full{
    width: 100%;
    height: 10px;
    background-color: #FFC815;
}

.Nextjs{
    width: 90%;
    height: 10px;
    background-color: #FFC815;
}

.git{
    width: 80%;
    height: 10px;
    background-color: #FFC815;
}

.redux{
    width: 90%;
    height: 10px;
    background-color: #FFC815;
}

.typescript{
    width: 50%;
    height: 10px;
    background-color: #FFC815;
}

.stylecomponent{
    width: 70%;
    height: 10px;
    background-color: #FFC815;
}